services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: unless-stopped
    environment:
      - N8N_HOST=localhost
      - N8N_PROTOCOL=https
      - N8N_PORT=5678
      - N8N_PAYLOAD_SIZE_MAX=64777216
      - WEBHOOK_TUNNEL_URL=https://localhost
    volumes:
      - ./n8ndata:/home/node/.n8n
    networks:
      - n8n_net

  nginx:
    image: nginx:stable
    restart: unless-stopped
    depends_on:
      - n8n
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/ssl/n8n:ro
    networks:
      - n8n_net


networks:
  n8n_net:
    driver: bridge